import models

# The account the emails will be sent from.
MAILGUN = {
  'host': 'XXXXX.com',
  'api_key': 'key-XXXXXXX',
  'sender': models.Person(
      name='Full Name',
      email='sender@XXXXX.com'),
}

# Your own account for testing
ME = models.Person(
    name='Full Name 2',
    email='personal@gmail.com')
