import models

# Preferably use an app-specific gmail password.
PASSWORD = 'XXXXXXXXXXXXXXX'
# The account the emails will be sent from.
SENDER = models.Person(
        name='FirstName LastName',
        email='senderXXXX@gmail.com')
REPLY_TO = SENDER
# If you want a different email address to receive replies.
#REPLY_TO = models.Person(
#        name='Giskard Relentlov',
#        email='replyToXXXX@gmail.com')
ME = SENDER
# If you want a different email address to receive tests.
#ME = models.Person(
#        name='Giskard Relentlov',
#        email='replyToXXXX@gmail.com')
