[FORMAT]
max-line-length=80
indent-string='  '

[MESSAGES CONTROL]
disable=
  fixme, # Allow TODOs
  missing-docstring, # Not necessary
  too-few-public-methods, # Thin classes due to dataclasses
  redefined-outer-name, # Pytest fixtures use the same name
  no-self-use, # Pytest classes are used for organizing
